body {
    background-color: lightblue;
    margin: 1rem;
}

label::after {
    content: ':';
}
label {
    padding: 0.5em;
}
/* label::before
{
    content: '\a';
    white-space: pre;
} */

#form-grid {
    width: max-content;
    margin: 0 auto;
    padding: 0.5em;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 4fr;
    grid-template-rows: 4fr; */
}

#form-title {
    grid-column: 1 / span 4;
    grid-row: 1 / 1;
    margin: 0.5em auto;
}
#form-label-1 {
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
}
#form-label-2 {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
}
#nb1 {
    grid-column: 3 / span 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#nb2 {
    grid-column: 3 / span 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.ops-btn {
    padding: 0.1em 0.5em;
    margin: 0.5em auto;
}
#add-btn {
    grid-column: 1;
    grid-row: 4;
}
#substract-btn {
    grid-column: 2;
    grid-row: 4;
}
#multiply-btn {
    grid-column: 3;
    grid-row: 4;
}
#divide-btn {
    grid-column: 4;
    grid-row: 4;
}
