* {
    font-family: 'Roboto';
}

body {
    background-color: lightblue;
    margin: 1rem;
}

label::after {
    content: ':';
}
label {
    padding: 0.5em;
}

#form-grid {
    width: max-content;
    margin: 0 auto;
    padding: 0.5em;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#form-title {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0.5em auto;
}
#form-label-1 {
    grid-column: 1;
    grid-row: 2;
}
#form-label-2 {
    grid-column: 1;
    grid-row: 3;
}
#nb1 {
    grid-column: 2;
    grid-row: 2;
}
#nb2 {
    grid-column: 2;
    grid-row: 3;
}

.ops-btn-container {
    grid-column: 1 / span 2;
    grid-row: 4;
    display: flex;
    margin-top: 0.5em;
}

.ops-btn {
    justify-content: space-between;
    padding: 0.1em 0.5em;
    margin: auto;
}

#reset {
    grid-column: 2 / span 2;
    grid-row: 5;
    margin: 0.75em auto 0.25em;
    width: max-content;
}

#result {
    grid-column: 1 / span 2;
    grid-row: 5;
}